<div class="row">
    <div class="col-lg-8 col-lg-offset-2 text-center">
      
      <div class="panel panel-primary">
        <div class="panel-heading">
          <br/>
          <h3 class="panel-title">Lista de Tarefas</h3>
          <br/>
        </div>
        <div class="panel-body table-responsive small">
            <table class="table table-hover">
              <thead>
                  <tr>
                    <th>#</th>
                    <th>Data</th>
                    <th>Descrição</th>
                    <th>Usuário</th>
                    <th>Importante</th>
                    <th>Prioridade</th>
                    <th>Conclusão</th>
                    <th></th>
                    <th></th>
                    <th class="text-center" style="font-weight: normal;"><a href="#">Nova</a></th>
                  </tr>
              </thead>
              <tbody>
                <tr>
                    <td>1</td>
                    <td>26/04/2018</td>
                    <td class="text-left">Desenvolver lista de tarefas</td>
                    <td class="text-left">Silvana</td>
                    <td>SIM</td>
                    <td>2</td>
                    <td>26/04/2018</td>
                    <td><a href="#">Concluir</a></td>
                    <td><a href="#">Editar</a></td>
                    <td><a href="#">Apagar</a></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>26/04/2018</td>
                    <td class="text-left">Cadastrar pessoas para a reunião</td>
                    <td class="text-left">Rodrigo</td>
                    <td>SIM</td>
                    <td>1</td>
                    <td>26/04/2018</td>
                    <td><a href="#">Concluir</a></td>
                    <td><a href="#">Editar</a></td>
                    <td><a href="#">Apagar</a></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>26/04/2018</td>
                    <td class="text-left">Cobrar andamento do projeto de reestruturação da base</td>
                    <td class="text-left">Célia</td>
                    <td>SIM</td>
                    <td>1</td>
                    <td>26/04/2018</td>
                    <td><a href="#">Concluir</a></td>
                    <td><a href="#">Editar</a></td>
                    <td><a href="#">Apagar</a></td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>
  
  
    </div>
  </div>
  